body {
    background-color: #333;
    color: #ddd;
}

p {
    text-align: justify;
    text-indent: 2rem;
}

.about p,
.social-share p {
    text-indent: 0;
}

.top-bar {
    border-bottom-color: #ddd;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    height: 2.55rem;
}

.top-bar-section ul li .icon {
    font-size: 1.5rem;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    line-height: 40px;
}

.top-bar .right {
    border-left: 1px solid #ddd;
}

.top-bar .left,
.top-bar .title-area {
    border-right: 1px solid #ddd;
}

.top-bar .title-area {
    height: 2.5rem;
}

.top-bar .title-area .name h1 a{
    font-size: 1.7rem;
}

.feed-content {
    top: -0.75rem;
}

.feed-content .subheader a,
.about.subheader,
.post.header {
    color: #ddd;
}

.post.post-date {
    text-align: right;
    margin-right: 1.5rem;
}

.post.header,
.about.subheader {
    margin-left: 1.5rem;
}

.about.inline-list {
    float: right;
}

.about.inline-list a,
.social-share a {
    color: #ddd;
}

.social-share {
    float: right;
}

.social-share a {
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.post p {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}