body {
    background-color: #333;
    color: #ddd;
}

.top-bar {
    border-bottom-color: #ddd;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    height: 2.55rem;
}

.top-bar-section ul li .icon {
    font-size: 1.5rem;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    line-height: 40px;
}

.top-bar .right {
    border-left: 1px solid #ddd;
}

.top-bar .left,
.top-bar .title-area {
    border-right: 1px solid #ddd;
}

.top-bar .title-area {
    height: 2.5rem;
}

.feed-content {
    top: -0.75rem;
}

.feed-content .subheader a,
.about.subheader,
.post.header {
    color: #ddd;
}

.post.post-date {
    text-align: right;
    margin-right: 1.5rem;
}

.post.header {
    margin-left: 1.5rem;
}