<div class="large-2 columns small-3">
    <img src="https://secure.gravatar.com/avatar/f55e27c409ab3c44635babf13150bb7e.png"/>
</div>
<div class="about large-10 columns">
    <p> 
    I am a software developer. Primarily coding in Java, but I'm more than happy coding in Clojure, Javascript, Ruby and Python.
    </p>
    <p>
    I have a PhD in <a href="http://research-archive.liv.ac.uk/1306/" target="_blank">Ontology Modularization</a> and remain interested in knowledge representation, multi-agent systems and aritificial intelligence.
    </p>
    <p>
    I also might be seen going for an occasional <a href="http://www.strava.com/athletes/dorzey" target="_blank">bike</a> ride.
    </p>
</div> 