---
layout: default
---
<div class="row">
    <div class="large-9 columns" role="content">
        <article>
            <hr/>
            <h3 class="post header">{{ page.title }}</a></h3>
            <h6 class="post subheader post-date">{{ page.date | date_to_long_string }}</h6>
            <hr/>
            <div class="row">
                {{ content }}
            </div>
            {% include social_share.html %}
        </article>
    </div>
    
    <aside class="large-3 columns">
          <hr/>
          <h5 class="post subheader">Categories</h5>
          <ul class="side-nav">
              {% for category in page.categories %}
                <li><a href="#">{{ category }}</a></li>
              {% endfor %}
          </ul>
          <hr/>
    </aside>
</div>